<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
<!--  <meta http-equiv="refresh" content="10; url=/" >-->
  <title>Order_book</title>
  <style type="text/css">
      .table-users, .coinTitle {
          border: 1px solid #327a81;
          border-radius: 10px;
          box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
          max-width: calc(100% - 2em);
          margin: 1em auto;
          overflow: hidden;
          width: 50%;
          /*text-align: center;*/
      }
      .coinTitle {
          background-color: #00074f;
          color: white;
          text-align: center;
      }
      td {
          /*height: 20px;*/
          border-top: 1px solid #000000;
          border-right: 1px solid #000000;
          /*background: linear-gradient(to right, #2675ff, #76cbff);*/
          /*border-bottom: 1px solid #327a81;*/
          /*border-right: 1px solid #327a81;*/
      }
  </style>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

  <script>
    // 검색 결과에 하이라이팅을 해주기 위한 변수
    let dataId = null;
    // 테이블을 그리기 위한 테이블 객체를 저장할 변수
    let my_tbody;
    (function () {
      sendController("BTC", "KRW");
    }());

    // 원하는 코인 검색
    function coinSearch() {
      let orderCoin = document.getElementById("inputCoin").value;
      let payMent = document.getElementById("payMent").value;
      if (orderCoin != "" && payMent != "") {
        console.log(orderCoin);
        sendController(orderCoin, payMent);
      } else {
        alert("주문통화 또는 지불통화를 입력하세요.");
        return;
      }
    }

    // json형태의 데이터를 파라미터로 받는다.
    function sendController(coin, pay) {
      // ajax를 이용하여 전달
      $.ajax({
        type: "get",
        url: "searchCoin",
        data: {"inputCoin": coin, "payMent" : pay},
        success: function (data) {
          let coinTitle = document.getElementById("coinTitle");
          coinTitle.innerText = coin;
          console.log(data);
          $("#tableBody").empty();
          let a = "";

          for (let i = 0 ; i < 30 ; ++i) {
            let firstData = data[0][i];
            let secondData = data[1][i];
            let thirdData = data[2][i];
            let fourthData = data[3][i];

            a += '<tr>';
            a += '<td id="firstData'+i+'">' + firstData.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>';
            a += '<td id="secondData'+i+'">' + secondData + '</td>';
            // a += '<td id="secondData">' + secondData.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>';
            a += '<td id="thirdData'+i+'">' + thirdData.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>';
            a += '<td id="fourthData'+i+'">' + fourthData + '</td>';
            // a += '<td id="fourthData">' + fourthData.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>';
            a += '</tr>';

          }
          $("#tableBody").append(a);
        },
        error: function (data) {
          alert("데이터 출력 중 에러가 발생하였습니다.");
          console.log(data);
          return;
        }
      });
    }

    // 정렬
    function dataSort(targetData, target, sequence) { // 파라미터 (정렬 기준, 순서)
      // 데이터를 넣을 위치의 정보를 얻는다.
      my_tbody = document.getElementById('tableBody');

      $.ajax({
        type: "get",
        url: "dataSort", // 정렬기준, 순서를 보낸다.
        data: {"targetData": targetData, "target": target, "sequence": sequence},
        success: function (data) {
          // 성공시
          $("#tableBody").empty();
          let a = "";
          for (let i = 0 ; i < 30 ; ++i) {
            let firstData = data[0][i];
            let secondData = data[1][i];
            let thirdData = data[2][i];
            let fourthData = data[3][i];

            a += '<tr>';
            a += '<td id="firstData'+i+'">' + firstData.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>';
            a += '<td id="secondData'+i+'">' + secondData + '</td>';
            // a += '<td id="secondData">' + secondData.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>';
            a += '<td id="thirdData'+i+'">' + thirdData.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>';
            a += '<td id="fourthData'+i+'">' + fourthData + '</td>';
            // a += '<td id="fourthData">' + fourthData.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td>';
            a += '</tr>';
          }
          $("#tableBody").append(a);
        },
        error: function (data) {
          alert("정렬에 실패하였습니다.");
          return;
        }
      });
    }

    function excel() {
      $.ajax({
        type: "get",
        url: "excel", // 엑셀 다운로드 메소드 호출
        success: function (data) {
          alert("파일 다운로드에 성공하였습니다.");
        },
        error: function (data) {
            alert("파일 다운로드에 실패하였습니다.");
          return;
        }
      });
    }

    // 테이블 내 검색
    function onSearch() {
      let search = document.getElementById("search").value;
      let selectOption = document.getElementById("searchKinds");
      selectOption = selectOption.options[selectOption.selectedIndex].value;
      console.log(selectOption);

      if (dataId != null) {
        // 두번째 검색이라면 기존 검색으로 색이 바뀐 String의 색을 원래대로 되돌린다.
        dataId.style.color = "#000000";
      }
      $.ajax({
        type: "get",
        // url: "searchData", // 서치 메소드 호출
        url: "searchTest", // 서치 메소드 호출
        data: {"searchKinds" : selectOption, "search" : search},
        success: function (data) {
          if (data == "err") {
            console.log(data);
            alert("없는 데이터 입니다.");
            return;
          } else {
            // 데이터를 정상적으로 가져오면 실행
            for (let i = 0; i < 30; i++) {
              if (selectOption == "bidsPrice") {
                let str = document.getElementById("firstData"+i+"").innerText;
                if (str.replace(/,/g,"") == data) {
                  dataId = document.getElementById("firstData"+i+"");
                  dataId.style.color = "#ff0000";
                }
              } else if (selectOption == "bidsQuantity") {
                let str = document.getElementById("secondData"+i+"").innerText;
                if (str.replace(/,/g,"") == data) {
                  dataId = document.getElementById("secondData"+i+"");
                  dataId.style.color = "#ff0000";
                }
              } else if (selectOption == "asksPrice") {
                let str = document.getElementById("thirdData"+i+"").innerText;
                if (str.replace(/,/g,"") == data) {
                  dataId = document.getElementById("thirdData"+i+"");
                  dataId.style.color = "#ff0000";
                }
              } else {
                let str = document.getElementById("fourthData"+i+"").innerText;
                if (str.replace(/,/g,"") == data) {
                  dataId = document.getElementById("fourthData"+i+"");
                  dataId.style.color = "#ff0000";
                }
              }
            }
          }
        },
        error: function (data) {
          alert("검색에 실패 하였습니다.");
          return;
        }
      });
    }
  </script>
</head>
<body>

<div id="layoutSidenav">
  <main>
    <div class="container-fluid ml-10">
      <h1 class="mt-4 coinTitle" id="coinTitle">Order_book</h1>
      <div class="card mb-4">
        <div class="card-body">
          <div class="table-responsive">
<!--            <table class="table table-bordered" id="dataTable" border="1">-->
            <table class="table-users" id="dataTable">
              <thead>
              <tr>
                <td><input type="text" id="inputCoin" placeholder="주문통화를 입력하세요." style="width: 97%;"></td>
                <td><input type="text" id="payMent" placeholder="결제통화를 입력하세요." value="KRW" style="width: 97%;"></td>
                <td><input type="button" value="새 통화 검색" style="width: 100%; background-color: white" onclick="coinSearch()"></td>
                <td><input type="button" value="엑셀 다운로드" style="width: 100%; background-color: #1db60a; color: white" onclick="excel()"></td>
              </tr>
              <tr>
                <td>
                  <select id="searchKinds" style="width: 100%">
                    <option value="bidsPrice">매수 거래가</option>
                    <option value="bidsQuantity">매수 수량</option>
                    <option value="asksPrice">매도 거래가</option>
                    <option value="asksQuantity">매도 수량</option>
                  </select>
                </td>
                <td colspan="2"><input type="text" id="search" placeholder="검색할 데이터 입력" style="width: 98%"></td>
                <td><input type="button" value="테이블 내 검색" style="width: 100%; background-color: white" onclick="onSearch()"></td>
              </tr>
              <tr>
                <th style="background-color: #ff719b">
                  <button onclick="dataSort('bids', 'price', 'DESC')" style="background-color: #2675ff;">내림차순</button>
                  매수 거래가
                  <button onclick="dataSort('bids', 'price', 'ASC')" style="background-color: #ff3d72">오름차순</button>
                </th>
                <th style="background-color: #ff719b">
                  <button onclick="dataSort('bids', 'quantity', 'DESC')" style="background-color: #2675ff;">내림차순</button>
                  매수 수량
                  <button onclick="dataSort('bids', 'quantity', 'ASC')" style="background-color: #ff3d72">오름차순</button>
                </th>
                <th style="background-color: #76cbff">
                  <button onclick="dataSort('asks', 'price', 'DESC')" style="background-color: #2675ff;">내림차순</button>
                  매도 거래가
                  <button onclick="dataSort('asks', 'price', 'ASC')" style="background-color: #ff3d72">오름차순</button>
                </th>
                <th style="background-color: #76cbff">
                  <button onclick="dataSort('asks', 'quantity', 'DESC')" style="background-color: #2675ff;">내림차순</button>
                  매도 수량
                  <button onclick="dataSort('asks', 'quantity', 'ASC')" style="background-color: #ff3d72">오름차순</button>
                </th>
              </tr>
              </thead>
              <tbody id="tableBody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>